body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px
}

header {
    background-color: #7C7C7C;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
    place-items: center;
    width: 100%;
}

footer {
    height: 50px;
    background-color: #7C7C7C;
}

nav {
    display: flex;
    width: 760px;
}

nav a {
    padding: 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

main section p {
    background-color: white;
    height: 343px;
    overflow: auto;
    text-align:justify;
    margin: 0;
}

section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
    gap: 30px

}

section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

button {
    width: 40%;
    background-color: black;
    color: white;
    height: 30px;
    margin-top: 25px;
    transition: all .5s ease-in-out;
}
button:hover {
    background-color: #fff;
    transform: scale(1.2);
    color: #000;
  }


